
@import './style.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';


*{
    font-family: "Nunito";
}

.main-bg{
    background-color: #F9FAFB;
}
.accent-bg{
    background-color: #e56b21;
}
.border-danger{
    border-color: #DC2626 !important;
}

.text-danger{
    color:#DC2626 !important;
}

.restaurant-banner{
    height: 45vh;
}
